<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="/guestbook" class="nav-link px-2 text-body-secondary">Guestbook</a></li>
        <li class="nav-item"><a href="/newmessage" class="nav-link px-2 text-body-secondary">New Message</a></li>
        <li class="nav-item"><a href="/ajaxmessage" class="nav-link px-2 text-body-secondary">New Ajax Message</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Source code</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Jani Andsten</p>
</footer>