<!DOCTYPE html>
<html data-bs-theme="auto">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to the Guestbook</title>
  <!-- Include Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <script type="module" src="js/color-modes.js"></script>
</head>

<body>
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">My Guestbook</span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link <%= active.home ? 'active aria-current=" page"' : '' %>">Home</a>
      </li>
      <li class="nav-item"><a href="/guestbook" class="nav-link <%= active.guestbook ? 'active aria-current=" page"'
          : '' %>">Guestbook</a></li>
      <li class="nav-item"><a href="/newmessage" class="nav-link <%= active.newmessage ? 'active aria-current=" page"'
          : '' %>">New Message</a></li>
      <li class="nav-item"><a href="/ajaxmessage" class="nav-link <%= active.ajaxmessage ? 'active aria-current=" page"'
          : '' %>">New Ajax Message</a></li>
      <li class="nav-item"><a href="https://github.com/MrYawnie/TO00BS65-3006-Project-1" class="nav-link"
          target="_blank">Source code</a></li>
    </ul>
    <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
      <input type="radio" class="btn-check" name="btnradio" id="light-theme" autocomplete="off" checked>
      <label class="btn btn-outline-primary" for="light-theme"><i class="bi bi-sun-fill"></i></label>

      <input type="radio" class="btn-check" name="btnradio" id="dark-theme" autocomplete="off">
      <label class="btn btn-outline-primary" for="dark-theme"><i class="bi bi-moon-fill"></i></label>
    </div>
  </header>