<%- include('../partials/header') %> <!-- Include navbar partial -->

    <div class="container">
        <h1>Guestbook Entries</h1>
        <button onclick="location.href='/newmessage'">Add New Message</button>
        <button onclick="location.href='/ajaxmessage'">Add New Ajax Message</button>

        <%- include('../partials/guestbooktable') %>
    </div>
    
<%- include('../partials/footer') %>